fastapi
uvicorn[standard]
python-multipart
ultralytics
ollama
opencv-python-headless
openai
numpy
python-dotenv
openai-whisper
praat-parselmouth
# ppt-analysis-engine
python-pptx>=1.0.0
scikit-learn>=1.4.0